p{
    text-align: center;
    font-size: 20px;
}

.titulo-centralizado{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.apresentacao{
    background: #c9c9c9;
    padding: 30px;
}

em strong{
    text-align: center;
    color: #ff0000;
}

em p{
    text-align: center;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
    font-weight: bold;
    
}

ul{
    font-size: large;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 25%;
    font-style: normal;
    padding: 20px;
    
}

.img{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    
}

.imagembeneficios{
    width: 36%;
    
}

.titulo-principal{
    padding: 20px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    

}

/*headre e flooter*/
nav li{
    display: inline;
    margin: 0 0 0 10px;
}

header{
    background: #BBBBBB;
    
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}

nav a:hover{
    color: #b30000;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

footer{
    text-align: center;
    background:#000000;
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.caixa{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}
