nav li{
    display: inline;
    margin: 0 0 0 15px;
}

header{
    background: #BBBBBB;
    
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}

nav a:hover{
    color: #b30000;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

.caixa{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.produtos{
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-bottom-width: 10px;
    border-radius: 10px 20px 10px 20px;
}

.produtos li:hover{
    border-color: #b30000;
}

.produtos li:active{
    border-color: #000000;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    /*margin: 10px 0 0 ; maneira completa*/
    margin-top: 10px; /*maneira simplificada*/
}

footer{
    text-align: center;
    background:#000000;
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.img{
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input{
    display: block;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 50%;
}