p{
    text-align: center
}

.titulo-centralizado{
    text-align: center;
    font-size: 120%;
}

.apresentacao{
    background: #c9c9c9;
    padding: 30px;
}

em strong{
    text-align: start;
    color: #ff0000;
}

em p{
    text-align: center;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

ul{
    font-size: large;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 25%;
    
}

.img{
    text-align: center;
    width: 100%;
    
}

.imagembeneficios{
    width: 36%;
    
}

.titulo-principal{
    padding-left: 20px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

header{
    background: #BBBBBB;
    
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}

nav a:hover{
    color: #b30000;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

footer{
    text-align: center;
    background:#000000;
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}