p {
    text-align: justify;
}

h1{
    text-align: center;
}

body{
    background: #eaf09a;
}

em strong{
    text-align: center;
    color: #8400ff;
}

em p{
    text-align: justify;
}

div {
    text-align: center;
    
}