p{
    text-align: center
}

h1{
    text-align: center;
}

.apresentacao{
    background: #c9c9c9;
}

em strong{
    text-align: start;
    color: #ff0000;
}

em p{
    text-align: center;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
}

h2{
    text-align: center;
}

.img{
    text-align: center;
}