p {
    text-align: center
}

h1{
    text-align: center;
}

body{
    background: #eaf09a;
}

em strong{
    text-align: start;
    color: #8400ff;
}

em p{
    text-align: center;
}

div {
    text-align: center;
    
}

.itens {
    font-style: italic;
}